
<link href="{baseurl}/webview/ratchet/css/ratchet.min.css" rel="stylesheet" type="text/css">
<link href="{baseurl}/webview/css/page_select_doctor.css?{rand}" rel="stylesheet" type="text/css">
<script src="{baseurl}/webview/ratchet/js/ratchet.min.js"></script>
<script src="{baseurl}/webview/javascripts/page_select_doctor.js?{rand}"></script>
<div class="content-padded">
    <p></p>
</div>
<div class="content-padded selqrcode" style="display: none">
    <button class="btn btn-block qrcode">扫描科室二维码</button>
    <p></p>
</div>
<div class="content-padded seldoctor" style="display: none">
    <h3></h3>
    <h5>选择医生</h5>
    <form id="seloptions1">
    </form>
    <h5>选择诊断</h5>
    <form  id="seloptions2">
    </form>
    <p></p>
    <button class="btn btn-block doctorsubmit">确认选择</button>
</div>
