<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ECMyNewsListConfig.ECListViewController.itemClick</key>
	<string>ecct://sectionview?configName=ECActivityDetailConfig</string>
	<key>ECLeDongXiaoZhanConfig.ECListViewWithNewAPIController.itemClick</key>
	<string>ecct://sectionview?configName=ECShopDetailConfig</string>
	<key>ECMyCouponListConfig.ECListViewController.itemClick</key>
	<string>ecct://sectionview?configName=ECCouponConfigModel</string>
	<key>ECMyCouponListConfig.ECListViewController.itemClick - 2</key>
	<string>ecct://subscrollview?configName=ECCourseCouponConfig</string>
	<key>showCourseCoupon</key>
	<string>ecct://subscrollview?configName=ECCourseCouponConfig</string>
	<key>ECGetApplyListConfig.ECSignUpListController.itemClick</key>
	<string>ecct://signupdetail?configName=ECSignUpDetailConfig</string>
	<key>ECMyCourseListConfig.ECListViewController.itemClick</key>
	<string>ecct://subscrollview?configName=ECMyCourseDetailConfig</string>
	<key>ECAccountConfig.ECAccountController.itemClick7</key>
	<string>ecct://listview?configName=ECUserPointRecordConfig</string>
	<key>ECMoreConfig.ECMoreController.itemClick1</key>
	<string>eccm://checkversion</string>
	<key>ECExercisePlaceConfig.ECListViewController.itemClick</key>
	<string>ecct://gendetail?configName=ECGenDetailConfig</string>
	<key>ECLivingCircleConfig.ECListViewWithNewAPIController.itemClick</key>
	<string>ecct://coupon?configName=ECCouponConfig</string>
	<key>ECMoreConfig.ECMoreController.itemClick6</key>
	<string>ecct://account?configName=ECAccountConfig</string>
	<key>ECLeDongJingAnConfig.ECGridViewController.itemClick</key>
	<string>ecct://listview?configName=ECNewsListConfig</string>
	<key>ECMoreConfig.ECMoreController.itemClick</key>
	<string>ecct://listview?configName=ECListConfig</string>
	<key>ECSignUpListConfig.ECSignUpListController.needLogin</key>
	<string>ecct://login?configName=ECLoginConfig</string>
	<key>ECMoreConfig.ECMoreController.itemClick112</key>
	<string>ecct://qrcbuilder</string>
	<key>ECLivingCircleConfig.ECListViewController.itemClick</key>
	<string>ecct://gendetail?configName=ECGenDetailConfig</string>
	<key>ECMoreConfig.ECMoreController.itemClick3</key>
	<string>ecct://ecloud</string>
	<key>ECNeedLogin.needLogin</key>
	<string>ecct://login?configName=ECLoginConfig</string>
	<key>ECLeftMenuConfig.ECLeftMenuController.itemClick1</key>
	<string>eccm://viewdeck.refreshcenter?viewUrl=ecct%3a%2f%2fgridview%3fconfigName%3dECTeacherIntroConfig</string>
	<key>ECMoreConfig.ECMoreController.itemClick0</key>
	<string>ecct://feedback?configName=ECFeedbackConfig</string>
	<key>ECDetailCommentConfig.ECCommentController.needLogin</key>
	<string>ecct://login?configName=ECLoginConfig</string>
	<key>ECLeftMenuConfig.ECLeftMenuController.itemClick2</key>
	<string>eccm://viewdeck.refreshcenter?viewUrl=ecct%3a%2f%2flistview%3fconfigName%3dECClassIntroConfig</string>
	<key>ECLeftMenuConfig.ECLeftMenuController.itemClick3</key>
	<string>eccm://viewdeck.refreshcenter?viewUrl=ecct%3a%2f%2flistview%3fconfigName%3dECClassroomIntroConfig</string>
	<key>ECSelfConfig.ECMoreController.itemClick111</key>
	<string>ecct://qrcreader</string>
	<key>ec.gridview.controller.itemclick</key>
	<string>ecct://listview?configName=ECClassIntroConfig</string>
	<key>ECDetailCommentConfig.ECCommentController.rightBarItemClick</key>
	<string>ecct://commentList?configName=ECComnentListConfig</string>
	<key>ECMyFavListConfig.ECListViewController.itemClickOld</key>
	<string>ecct://sectionlist?configName=ECMyFavShopDetailConfig</string>
	<key>ECMyFavListConfig.ECListViewController.itemClick</key>
	<string>ecct://sectionview?configName=ECMyFavShopDetailConfig</string>
	<key>ECLeftMenuConfig.ECLeftMenuController.itemClick4</key>
	<string>eccm://viewdeck.refreshcenter?viewUrl=ecct%3a%2f%2flistview%3fconfigName%3dECClassroomServiceConfig</string>
	<key>ECMapListConfig.ECStoreListController.itemClick</key>
	<string>ecct://mapview?configName=ECMapDetailConfig</string>
	<key>ECGenDetailConfig.ECDetailBtController.expandBtClick</key>
	<string>ecct://signupinput?configName=ECSignUpInputConfig</string>
	<key>ECAccountConfig.ECAccountController.needLogout</key>
	<string>eccm://logout</string>
	<key>ECListConfig.ECListViewController.itemClick</key>
	<string>ecct://gendetail?configName=ECGenDetailConfig</string>
	<key>ECAccountConfig.ECAccountController.needLogin</key>
	<string>ecct://login?configName=ECLoginConfig</string>
	<key>ECMoreConfig.ECMoreController.itemClick2</key>
	<string>eccm://clearcache</string>
	<key>ECNewsListConfig.ECListViewController.itemClick</key>
	<string>ecct://gendetail?configName=ECGenDetailConfig</string>
	<key>ECPlaceConfig.ECMapMenuController.mapAnnotationItemClick</key>
	<string>ecct://collectionview?configName=ECPlaceDetailConfig</string>
	<key>ECSignUpListConfig.ECSignUpListController.needSignUp</key>
	<string>ecct://signupinput?configName=ECSignUpInputConfig</string>
	<key>ECAccountConfig.ECAccountController.itemClick8</key>
	<string>ecct://gendetail?configName=ECGenDetailConfig</string>
	<key>ECShopDetailConfig.ECSectionListViewController.itemClick</key>
	<string>ecct://subscrollview?configName=ECCourseDetailConfig</string>
	<key>ECMyFavShopDetailConfig.ECSectionListViewController.itemClick</key>
	<string>ecct://subscrollview?configName=ECCourseDetailConfig</string>
	<key>action</key>
	<string></string>
	<key>ECGetMyExerciseFavListConfig.ECListViewController.itemClick</key>
	<string>ecct://gendetail?configName=ECMoreGenDetailConfig</string>
	<key>ECPlaceConfig.ECListViewController.itemClick</key>
	<string>ecct://gendetail?configName=ECGenDetailConfig</string>
	<key>ECGetMyPlaceFavListConfig.ECListViewController.itemClick</key>
	<string>ecct://gendetail?configName=ECMoreGenDetailConfig</string>
</dict>
</plist>
