<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navTitle</key>
	<string>运动地图</string>
	<key>annotationData</key>
	<dict>
		<key>id</key>
		<string>480</string>
		<key>requestIdKey</key>
		<string>sort_ids</string>
		<key>defaultRequestIdKey</key>
		<string>sort_father_ids</string>
		<key>method</key>
		<string>content/place/nearby_shops</string>
		<key>apiversion</key>
		<string>1.0.000001</string>
		<key>size</key>
		<string>100000</string>
		<key>action</key>
		<string>ecct://sectionview?configName=ECShopDetailConfig</string>
		<key>action - old</key>
		<string>ecct://sectionlist?configName=ECShopDetailConfig</string>
		<key>dataAdapter</key>
		<dict>
			<key>listKey</key>
			<string>shops</string>
			<key>itemKey</key>
			<string></string>
			<key>titleKey</key>
			<string>title</string>
			<key>subTitleKey</key>
			<string>address</string>
			<key>latitudeKey</key>
			<string>latitude</string>
			<key>longitudeKey</key>
			<string>longitude</string>
			<key>tagKey</key>
			<string>shop_id</string>
			<key>sortKey</key>
			<string>sorts</string>
		</dict>
	</dict>
	<key>menuConfig</key>
	<dict>
		<key>localMenu</key>
		<array>
			<dict>
				<key>title</key>
				<string>全部</string>
				<key>requestId</key>
				<string>0</string>
				<key>action</key>
				<string>eccm://showannotations?isDefault=YES</string>
			</dict>
			<dict>
				<key>title</key>
				<string>在线预订</string>
				<key>requestId</key>
				<string>985</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>运动加油站</string>
				<key>requestId</key>
				<string>481</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>健身苑点</string>
				<key>requestId</key>
				<string>604</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>公共运动场</string>
				<key>requestId</key>
				<string>594</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>社区文化中心</string>
				<key>requestId</key>
				<string>593</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>健康驿站</string>
				<key>requestId</key>
				<string>602</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>健身房</string>
				<key>requestId</key>
				<string>488</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>综合房</string>
				<key>requestId</key>
				<string>603</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>运动操场</string>
				<key>requestId</key>
				<string>598</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>游泳馆</string>
				<key>requestId</key>
				<string>580</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>篮球</string>
				<key>requestId</key>
				<string>571</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>足球</string>
				<key>requestId</key>
				<string>487</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>乒乓球 </string>
				<key>requestId</key>
				<string>486</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>羽毛球</string>
				<key>requestId</key>
				<string>485</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>桌球</string>
				<key>requestId</key>
				<string>577</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>网球</string>
				<key>requestId</key>
				<string>575</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>舞蹈</string>
				<key>requestId</key>
				<string>574</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>瑜伽</string>
				<key>requestId</key>
				<string>489</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>武术</string>
				<key>requestId</key>
				<string>578</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<dict>
				<key>title</key>
				<string>其他</string>
				<key>requestId</key>
				<string>581</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
		</array>
		<key>dataKey</key>
		<string>data.SonSorList</string>
		<key>defaultMenu</key>
		<integer>0</integer>
		<key>menuadapter</key>
		<dict>
			<key>titleKey</key>
			<string>cnname</string>
			<key>idKey</key>
			<string>id</string>
			<key>action</key>
			<string>eccm://showannotations</string>
		</dict>
		<key>netrequestConfig</key>
		<dict>
			<key>id</key>
			<string>480</string>
			<key>idKey</key>
			<string></string>
			<key>method</key>
			<string>content.getsonsortlist</string>
			<key>requestHost</key>
			<string>http://openapi.nowapp.cn/api/</string>
		</dict>
	</dict>
	<key>channelBar</key>
	<array>
		<dict>
			<key>title</key>
			<string>5分钟</string>
			<key>circleColor</key>
			<integer>9746270</integer>
			<key>radius</key>
			<string>500</string>
			<key>action</key>
			<string>eccm://mapviewcommand?method=updateMKCirle</string>
		</dict>
		<dict>
			<key>title</key>
			<string>10分钟</string>
			<key>circleColor</key>
			<integer>7059430</integer>
			<key>radius</key>
			<integer>1000</integer>
			<key>action</key>
			<string>eccm://mapviewcommand?method=updateMKCirle</string>
		</dict>
		<dict>
			<key>title</key>
			<string>30分钟</string>
			<key>circleColor</key>
			<integer>12023157</integer>
			<key>radius</key>
			<integer>2000</integer>
			<key>action</key>
			<string>eccm://mapviewcommand?method=updateMKCirle</string>
		</dict>
	</array>
	<key>navigatorMenu</key>
	<dict>
		<key>position</key>
		<string>middle</string>
		<key>items</key>
		<array/>
	</dict>
	<key>localData</key>
	<dict/>
	<key>style</key>
	<dict>
		<key>hasNavigationBar</key>
		<string>YES</string>
		<key>quiltCellViewMargin</key>
		<integer>0</integer>
		<key>isWithSeparateLine</key>
		<false/>
		<key>viewBg</key>
		<string></string>
		<key>cellId</key>
		<string>ECNewsTwoLineCell</string>
		<key>cellBg</key>
		<string></string>
		<key>cellTitleSize</key>
		<string>14</string>
		<key>cellTitleFont</key>
		<string></string>
		<key>cellTitleColor</key>
		<string>0x00ffff</string>
		<key>cellTitleAlignment</key>
		<string>center</string>
		<key>cellleftIconVisible</key>
		<false/>
		<key>cellrightIconVisible</key>
		<false/>
		<key>testMenu</key>
		<dict>
			<key>New item</key>
			<string></string>
			<key>type</key>
			<string>menuFromeServer</string>
			<key>title</key>
			<string></string>
			<key>icon</key>
			<string>cup.png</string>
			<key>divider</key>
			<string></string>
			<key>menuadapter</key>
			<dict>
				<key>titleKey</key>
				<string>cnname</string>
				<key>idKey</key>
				<string>id</string>
				<key>action</key>
				<string>eccm://showannotations</string>
			</dict>
			<key>netrequestConfig</key>
			<dict>
				<key>id</key>
				<string></string>
				<key>idKey</key>
				<string></string>
				<key>method</key>
				<string></string>
				<key>requestHost</key>
				<string></string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
