<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ctrl_url</key>
	<dict>
		<key>ECStaticViewController</key>
		<string>ecct://ucview</string>
		<key>ECFirmOrderViewController</key>
		<string>ecct://firmorderdetail</string>
		<key>ECOrderDetailViewController</key>
		<string>ecct://orderdetail</string>
		<key>ECOrderListController</key>
		<string>ecct://orderlist</string>
		<key>ECAddressMapController</key>
		<string>ecct://addressinmap</string>
		<key>ECSectionListViewController</key>
		<string>ecct://sectionlist</string>
		<key>ECSubScrollViewController</key>
		<string>ecct://subscrollview</string>
		<key>ECActivityRecordViewController</key>
		<string>ecct://activityrecord</string>
		<key>ECCouponViewController</key>
		<string>ecct://coupon</string>
		<key>ECListViewWithNewAPIController</key>
		<string>ecct://listviewfornewapi</string>
		<key>ECVideoPlayController</key>
		<string>ecct://viewplay</string>
		<key>ECCollectionViewController</key>
		<string>ecct://collectionview</string>
		<key>ECSignUpController</key>
		<string>ecct://signup</string>
		<key>ECCurveMenuController</key>
		<string>ecct://curvemenu</string>
		<key>ECQRCScanController</key>
		<string>ecct://qrcreader</string>
		<key>ECQuiltViewController</key>
		<string>ecct://quiltview</string>
		<key>ECAppController</key>
		<string>ecct://startapp</string>
		<key>ECViewDeckController</key>
		<string>ecct://viewdeck.mainctrl</string>
		<key>ECLeftMenuController</key>
		<string>ecct://viewdeck.leftctrl</string>
		<key>ECGridViewController</key>
		<string>ecct://gridview</string>
		<key>ECListViewController</key>
		<string>ecct://listview</string>
		<key>NowAppTabBarController</key>
		<string>ecct://tabbar</string>
		<key>ECStoreListController</key>
		<string>ecct://storelist</string>
		<key>ECMapViewController</key>
		<string>ecct://mapview</string>
		<key>ECChannelController</key>
		<string>ecct://channel</string>
		<key>ECGalleryViewController</key>
		<string>ecct://galleryview</string>
		<key>ECGeneralDetailViewController</key>
		<string>ecct://gendetail</string>
		<key>ECTestViewController</key>
		<string>ecct://testview</string>
		<key>ECCommentController</key>
		<string>ecct://comment</string>
		<key>ECLoginController</key>
		<string>ecct://login</string>
		<key>ECSignUpListController</key>
		<string>ecct://signuplist</string>
		<key>ECMoreController</key>
		<string>ecct://more</string>
		<key>ECFeedbackController</key>
		<string>ecct://feedback</string>
		<key>AboutEcloudController</key>
		<string>ecct://ecloud</string>
		<key>ECSignUpInputController</key>
		<string>ecct://signupinput</string>
		<key>ECCommentListController</key>
		<string>ecct://commentList</string>
		<key>ECDetailBtController</key>
		<string>ecct://detailbt</string>
		<key>ECSignUpDetailController</key>
		<string>ecct://signupdetail</string>
		<key>ECAccountController</key>
		<string>ecct://account</string>
		<key>ECBookViewController</key>
		<string>ecct://bookview</string>
		<key>ECSectionViewController</key>
		<string>ecct://sectionview</string>
	</dict>
	<key>command_url</key>
	<dict>
		<key>ECCommand.excute</key>
		<string>eccm://cammand</string>
		<key>ECQRCodeScanner.startScanner</key>
		<string>eccm://openqrcodescanner</string>
		<key>ECCMController.praseURL</key>
		<string>eccm://eccmc</string>
		<key>ECMapViewController.commandReceiver</key>
		<string>eccm://mapviewcommand</string>
		<key>ECListViewWithNewAPIController.reciveBroadcast</key>
		<string>eccm://showListWithSubType</string>
		<key>ECCMController.addfav</key>
		<string>eccm://addfav</string>
		<key>ECMapViewController.showAnnotations</key>
		<string>eccm://showannotations</string>
		<key>ECViewDeckController.refreshCenterViewCom</key>
		<string>eccm://viewdeck.refreshcenter</string>
		<key>ECMoreController.checkVersionCom</key>
		<string>eccm://checkversion</string>
		<key>ECMoreController.clearCacheCom</key>
		<string>eccm://clearcache</string>
		<key>ECAccountController.logoutCmd</key>
		<string>eccm://logout</string>
		<key>ECCollectionViewController.praise</key>
		<string>eccm://praise</string>
	</dict>
</dict>
</plist>
